/********************************************
        FLEX & GAP CONTAINERS HELPERS 
********************************************/
.dFlex          {display: flex;}
.flexColumn     {flex-direction: column;}
.flexWrap       {flex-wrap: wrap;}
.flexWrapRev    {flex-wrap: wrap-reverse;}
.flexRowRev     {flex-direction: row-reverse;}
.flexSpaceBtw   {justify-content: space-between;}
.flexJustyCtr   {justify-content: center;}
.flexSpaceARN   {justify-content: space-around;}
.flexSpaceEven  {justify-content: space-evenly;}
.flexAlignCtr   {align-items: center;}
.flexAlignStart {align-items: flex-start;}
.flexAlignEnd   {align-items: flex-end;}
.gap1em         {gap: 1em;}
.flex1          {flex: 1;}

/********************************************
    POSITION, TRANSITION & DISPLAY HELPERS 
 *******************************************/
.secTrans       {transition: 0.8s;}
.posFixed       {position: fixed;}
.posRelative    {position: relative;}
.posAbsolute    {position: absolute;}
.zIndex1        {z-index: 1;}
.zIndex2        {z-index: 2;}
.zIndex3        {z-index: 3;}
.zIndex4        {z-index: 4;}
.zIndex5        {z-index: 5;}
.zIndex10       {z-index: 10;}
.zIndex15       {z-index: 15;}
.b0             {bottom: 0;}
.b5             {bottom: 5%;}
.b10            {bottom: 10%;}        
.t0             {top: 0;}
.l0             {left: 0;}
.r0             {right: 0;}
.r5             {right: 5%;}
.r15            {right: 15%;}
.ycenter        {top: 50%; transform: translateY(-50%);}
.dBlock         {display: block;}
.dNone          {display: none;}

/********************************************
        UTILITY | Customize text  
 *******************************************/
.txtWhite       {color: white;}
.txtGray        {color: var(--gray);}
.txtDark        {color: var(--dark);}
.txtDarkBlue    {color: var(--darkBlue);}
.txtPurple      {color: var(--purple);}
.txtRed         {color: #b62d3a;}
.txtSmall       {font-size: small;}
.txtLarge       {font-size: large;}
.txtUnderline   {text-decoration: underline;}
.txtDecNone     {text-decoration: none;}
.txtItalic      {font-style: italic;}
.txtAlignCtr    {text-align: center;}
.txtAlignR      {text-align: right;}
.txtVertAlignMid{vertical-align: middle;}
.txtLineH2rem   {line-height: 2rem;}

/********************************************
        GENERIC UTILITIES 
 *******************************************/
.pointer        {cursor: pointer;}
.listStyleNone  {list-style-type: none;}
.visHidden      {visibility: hidden;}
.boxShadow      {box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);}
.bgBlue         {background-color: var(--blue);}
.bgDarkblue     {background-color: var(--darkBlue);}
.bgLightBlue    {background-color: var(--lightBlue);}
.bgWhite        {background-color: white;}

/********************************************
    UTILITY | Width, Padding, Border, Margin 
 *******************************************/
.vw100          {width: 100vw;}
.vh100          {height: 100vh;}
.h100           {height: 100%;}
.w100           {width: 100%;}
.w80            {width: 80%;}
.w60            {width: 60%;}
.w50            {width: 50%;}
.w30            {width: 30%;}
.w25            {width: 25%;}
.w20            {width: 20%;}
.mw100          {max-width: 100%;}
.mInput         {margin: .5rem 0 1.5rem 0;}
.my1rem         {margin: 1rem 0;}
.my2rem         {margin: 2rem 0;}
.px1rem         {padding: 0 1rem;}
.px2rem         {padding: 0 2rem;}
.pr2rem         {padding-right: 2rem;}
.pb03rem        {padding-bottom: .3rem;}
.py03rem        {padding: .3rem 0;}
.py08rem        {padding: .8rem 0;}
.p1rem          {padding: 1rem;}
.p2rem          {padding: 2rem;}
.border         {border: 1px solid black;}
.borderInput    {border-bottom: 1px solid var(--purple); border-width: 0 0 1px 0;}
.border0        {border: 0;}
.radiusHeader   {border-radius: 0 0 var(--radiusHeader) var(--radiusHeader);}
.radiusBox      {border-radius: var(--radiusBox);}
.radiusBtn      {border-radius: var(--radiusBtn);}
.radius50       {border-radius: 50%;}
.yscroll        {overflow-y: scroll;}

/********************************************
        UTILITY | hover 
 *******************************************/
.boxShadowHov:hover     {box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);}
.txtUnderHov:hover      {text-decoration: underline;}
.changeColBlueHov:hover {color: var(--blue);}