/* GENERAL STYLE */
:root {
    --lightBlue: #D9E5F3; /* Background */
    --blue: #0057FF; /* Buttons */
    --darkBlue: #134077; /* Borders, Titles */
    --dark: #231F20; /* Text */
    --gray: #CCCCCC; /* Text, Input Fields */
    --purple: #2D224C; /* CTA */
    --radiusHeader: .8125rem; /* 13px */
    --radiusBox: 1.1875rem; /* 19px */
    --radiusBtn: .6875rem; /* 11px */
    --headerHeight: 7.9375rem; /* 127px */
    --maxwidth: 87.5rem;
}

body {
    max-width: var(--maxwidth);
    margin: 0 auto;
    background-color: var(--lightBlue);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

/* HEADER STYLE */
header {
    height: var(--headerHeight);
    max-width: var(--maxwidth);
    box-shadow: 0px 4px 18px -6px var(--blue);
}

/* MAIN STYLE */
main {
    height: 100dvh;
}

#backgroundSec {
    max-width: var(--maxwidth);
}

.shuttle {
    bottom: 3.125rem;
}

h1 {
    font-size: 2rem;
}

#contentSec {
    padding-top: var(--headerHeight);
}

#registerSec, #loginSec, #notfoundSec {
    padding-top: 4rem;
}

form {
    margin-top: .8rem;
    border-color: var(--darkBlue);
}

form input, form button {
    font-size: 1.25rem;
}

form input::placeholder {
    color: var(--gray);
}

form #loginError {
    text-align: center;
    padding: 1rem .3rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: var(--radiusBtn);
    font-size: .9rem;
    margin-bottom: 1rem;
}
